@font-face {
    font-family: "Yanone Kaffeesatz";
    src: url('../fonts/YanoneKaffeesatz-ExtraLight.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/YanoneKaffeesatz-ExtraLight.ttf?#iefix') format('truetype'), /* IE6-IE8 */
    url('../fonts/YanoneKaffeesatz-ExtraLight.ttf') format('truetype'), /* Modern Browsers */
    url('../fonts/YanoneKaffeesatz-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/YanoneKaffeesatz-ExtraLight.ttf#svgFontName') format('truetype'); /* Legacy iOS */
}

html {
    font-family: "Yanone Kaffeesatz";
}

.text {
    font-size: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
}
.text .wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.text .wrapper .letter {
    transition: ease-out 1s;
    transform: translateY(40%);
}
.text .wrapper .shadow {
    transform: scale(1, -1);
    color: #999;
    transition: ease-in 5s, ease-out 5s;
}
.text .wrapper:hover .letter {
    transform: translateY(-30%);
}
.text .wrapper:hover .shadow {
    opacity: 0;
    transform: translateY(30%);
}

.overlay {
    position: absolute;
    top: 26vh;
    width: 100%;
    height: 3vh;
    z-index: 100;
    background: #ffffff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.25) 95%, rgba(255, 255, 255, 0) 100%);
}
section {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
